### Configuración inicial

In [ ]:

import tensorflow as tf
print("GPU disponible:", tf.config.list_physical_devices('GPU'))

# Instalar librerías adicionales si es necesario
!pip install seaborn plotly

# Importaciones estándar
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report
import warnings
warnings.filterwarnings('ignore')

# Configuración de visualización
plt.style.use('default')
sns.set_palette("husl")
plt.rcParams['figure.figsize'] = (10, 6)
plt.rcParams['font.size'] = 12

print("Entorno configurado correctamente en Google Colab")

### Conexión con Colab

In [15]:
# 1. Conectar Colab con GitHub
from google.colab import auth
auth.authenticate_user()

### Acceso a GitHub

In [56]:

# @markdown Correo y username de git
# 2. Configurar Git
!git config --global user.email "andres.florencia@uees.edu.ec"
!git config --global user.name "Andrés Florencia"
!git config --global credential.helper store

### Clonar el repositorio

In [6]:
!git clone https://github.com/andresflorencia-uees/UEES-IA-Semana1-FlorenciaAndres.git

Cloning into 'UEES-IA-Semana1-FlorenciaAndres'...
warning: You appear to have cloned an empty repository.

### Establecer carpeta

In [54]:
%cd /content/UEES-IA-Semana1-FlorenciaAndres/

/content/UEES-IA-Semana1-FlorenciaAndres

### Ingreso de token para GitHub

In [60]:

from getpass import getpass

# Pedir credenciales de forma segura (no se muestran en pantalla)
github_token = getpass('Ingresa tu token de GitHub: ')
github_username = "andresflorencia-uees"  # tu username sin espacios
repo_name = "UEES-IA-Semana1-FlorenciaAndres"  # nombre exacto del repo

# Configurar el remote con el token (solo para esta sesión)
!git remote set-url origin https://{github_username}:{github_token}@github.com/{github_username}/{repo_name}.git

Ingresa tu token de GitHub: ··········

### Función para envío de cambios a GitHub

In [67]:
def save_to_github(notebook_name, commit_message="Actualizar notebook"):
  #!cp /content/drive/MyDrive/Colab\ Notebooks/01_Fundamentos_NumPy_Pandas.ipynb ./notebooks/
  !cp /content/drive/MyDrive/Colab\ Notebooks/{notebook_name} ./notebooks/

  !git add .
  !git commit -m "{commit_message}"
  !git push origin main
  print(f" {notebook_name} actualizado en GitHub")

In [93]:
!git fetch origin

In [94]:
!git status

On branch main
nothing to commit, working tree clean

In [ ]:
!git merge origin/main

<A-Semana1-FlorenciaAndres/.git/MERGE_MSG" 6L, 269B▽  Pzz\[0%m           [>c]10;?]11;?Merge remote-tracking branch 'origin/main'
# Please enter a commit message to explain why this merge is necessary,# especially if it merges an updated upstream into a topic branch.#
# Lines starting with '#' will be ignored, and an empty message aborts
# the commit.
~                                                                               ~                                                                               ~                                                                               ~                                                                               ~                                                                               ~                                                                               ~                                                                               ~                                                                               ~                                                                               ~                                                                               ~                                                                               ~                                                                               ~                                                                               ~                                                                               ~                                                                               ~                                                                               ~                                                                               1,1AllE35: No previous regular expression1,1All5--5 VISUALr --i1,5AllINSERT 1,5All cambios remote-tracking branch 'origin/main'2,1All

### Llamado a función para envío de cambios

In [91]:
save_to_github("01_Fundamentos_NumPy_Pandas.ipynb", "Exploración de datos con el dataset Titanic")

[main 9a4e9b2] Exploración de datos con el dataset Titanic
 1 file changed, 1 insertion(+), 1 deletion(-)
 rewrite notebooks/01_Fundamentos_NumPy_Pandas.ipynb (92%)
To https://github.com/andresflorencia-uees/UEES-IA-Semana1-FlorenciaAndres.git
 ! [rejected]        main -> main (fetch first)
error: failed to push some refs to 'https://github.com/andresflorencia-uees/UEES-IA-Semana1-FlorenciaAndres.git'
hint: Updates were rejected because the remote contains work that you do
hint: not have locally. This is usually caused by another repository pushing
hint: to the same ref. You may want to first integrate the remote changes
hint: (e.g., 'git pull ...') before pushing again.
hint: See the 'Note about fast-forwards' in 'git push --help' for details.
 01_Fundamentos_NumPy_Pandas.ipynb actualizado en GitHub

## **EJERCIOS PRÁCTICOS: Manejo de arrays con NumPy**

### 1. Selección del dataset

In [ ]:
import seaborn as sns
titanic = sns.load_dataset('titanic')

### 2. Extracción de columnas a arrays

In [71]:
import numpy as np

# Convertir las columnas 'age', 'fare', 'survived' y 'pclass' a arrays de NumPy
# Eliminamos los valores NaN en 'age' y 'fare' para algunas operaciones

age_np = titanic['age'].dropna().to_numpy()
fare_np = titanic['fare'].to_numpy()
survived_np = titanic['survived'].to_numpy()
pclass_np = titanic['pclass'].to_numpy()

print("Array de edades (sin NaN):", age_np[:5])
print("Tipo de datos de edades:", age_np.dtype)
print("Forma del array de edades:", age_np.shape)
print("\nArray de tarifas:", fare_np[:5])
print("Tipo de datos de tarifas:", fare_np.dtype)
print("Forma del array de tarifas:", fare_np.shape)

Array de edades (sin NaN): [22. 38. 26. 35. 35.]
Tipo de datos de edades: float64
Forma del array de edades: (714,)

Array de tarifas: [ 7.25   71.2833  7.925  53.1     8.05  ]
Tipo de datos de tarifas: float64
Forma del array de tarifas: (891,)

### 3. Acceso a elementos (Indexación y Slicing)

In [72]:
# Primer elemento del array de edades
print("Primera edad:", age_np[0])

# Los primeros 5 elementos del array de tarifas
print("Las primeras 5 tarifas:", fare_np[:5])

# Edades de la posición 10 a la 15 (exclusiva)
print("Edades de 10 a 14:", age_np[10:15])

Primera edad: 22.0
Las primeras 5 tarifas: [ 7.25   71.2833  7.925  53.1     8.05  ]
Edades de 10 a 14: [58. 20. 39. 14. 55.]

### 4. Filtrado condicional (Indexación Booleana)

In [73]:
# Seleccionar todas las tarifas mayores a 50
fare_over_50 = fare_np[fare_np > 50]
print("Tarifas mayores a 50 (primeros 5):", fare_over_50[:5])
print("Cantidad de tarifas mayores a 50:", len(fare_over_50))

# Edades de pasajeros que sobrevivieron (filtrando el array 'survived_np')
# Primero, aseguramos que 'age' y 'survived' tengan la misma longitud si filtramos por NaN
# Para este ejemplo, usaremos el DataFrame original para un filtrado más directo si hay NaNs

# Edades de sobrevivientes (filtrando el DataFrame original y luego a NumPy)
survived_ages = titanic.loc[titanic['survived'] == 1, 'age'].dropna().to_numpy()
print("\nEdades de sobrevivientes (primeros 5):", survived_ages[:5])
print("Número de sobrevivientes con edad registrada:", len(survived_ages))

Tarifas mayores a 50 (primeros 5): [ 71.2833  53.1     51.8625 263.     146.5208]
Cantidad de tarifas mayores a 50: 160

Edades de sobrevivientes (primeros 5): [38. 26. 35. 27. 14.]
Número de sobrevivientes con edad registrada: 290

### 5. Operaciones matemáticas y estadísticas básicas

In [74]:
# Media de la edad y la tarifa
print("Edad promedio:", np.mean(age_np))
print("Tarifa promedio:", np.mean(fare_np))

# Mediana de la edad y la tarifa
print("Mediana de la edad:", np.median(age_np))
print("Mediana de la tarifa:", np.median(fare_np))

# Desviación estándar de la edad y la tarifa
print("Desviación estándar de la edad:", np.std(age_np))
print("Desviación estándar de la tarifa:", np.std(fare_np))

# Valor máximo y mínimo de la edad
print("Edad máxima:", np.max(age_np))
print("Edad mínima:", np.min(age_np))

Edad promedio: 29.69911764705882
Tarifa promedio: 32.204207968574636
Mediana de la edad: 28.0
Mediana de la tarifa: 14.4542
Desviación estándar de la edad: 14.516321150817316
Desviación estándar de la tarifa: 49.6655344447741
Edad máxima: 80.0
Edad mínima: 0.42

### 6. Contar valores únicos y sus frecuencias

In [75]:
# Valores únicos en la columna 'pclass' (clase de pasajero)
unique_pclass, counts_pclass = np.unique(pclass_np, return_counts=True)
print("Clases de pasajeros únicas:", unique_pclass)
print("Conteo por clase:", counts_pclass)

# Valores únicos en la columna 'survived' (0: No, 1: Sí)
unique_survived, counts_survived = np.unique(survived_np, return_counts=True)
print("\nValores de sobrevivientes (0=No, 1=Sí):", unique_survived)
print("Conteo de sobrevivientes (No, Sí):", counts_survived)

Clases de pasajeros únicas: [1 2 3]
Conteo por clase: [216 184 491]

Valores de sobrevivientes (0=No, 1=Sí): [0 1]
Conteo de sobrevivientes (No, Sí): [549 342]

## **EJERCICIOS PRÁCTICOS: Análisis de datos con Pandas**

### 1. Exploración inicial del DataFrame `titanic`

In [77]:
# Mostrar las primeras 5 filas del DataFrame
display(titanic.head())

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [78]:
# Mostrar las últimas 5 filas del DataFrame
display(titanic.tail())

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

### 2. Información general y tipos de datos

In [79]:
# Obtener un resumen conciso del DataFrame, incluyendo el tipo de dato de cada columna y la cantidad de valores no nulos
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
# Mostrar la forma (número de filas y columnas) del DataFrame
print("Forma del DataFrame:", titanic.shape)

### 3. Estadísticas descriptivas

In [80]:
# Generar estadísticas descriptivas para las columnas numéricas
display(titanic.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
# Generar estadísticas descriptivas para todas las columnas, incluyendo las categóricas
display(titanic.describe(include='all'))

### 4. Manejo de valores nulos

In [81]:
# Contar el número de valores nulos por columna
display(titanic.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
# Calcular el porcentaje de valores nulos por columna
display(titanic.isnull().sum() / len(titanic) * 100)

### 5. Análisis de columnas categóricas

In [82]:
# Contar la frecuencia de valores en la columna 'sex'
display(titanic['sex'].value_counts())

sex
male      577
female    314
Name: count, dtype: int64

In [83]:
# Contar la frecuencia de valores en la columna 'pclass'
display(titanic['pclass'].value_counts())

pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [84]:
# Contar la frecuencia de valores en la columna 'survived'
display(titanic['survived'].value_counts())

survived
0    549
1    342
Name: count, dtype: int64

### 6. Filtrado y selección de datos

In [85]:
# Seleccionar solo los pasajeros que sobrevivieron
survivors = titanic[titanic['survived'] == 1]
print("Primeras 5 filas de sobrevivientes:")
display(survivors.head())

Primeras 5 filas de sobrevivientes:

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [86]:
# Seleccionar mujeres de primera clase que sobrevivieron
female_first_class_survivors = titanic[(titanic['sex'] == 'female') & (titanic['pclass'] == 1) & (titanic['survived'] == 1)]
print("Mujeres de primera clase que sobrevivieron (primeras 5 filas):")
display(female_first_class_survivors.head())

Mujeres de primera clase que sobrevivieron (primeras 5 filas):

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
52,1,1,female,49.0,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False

### 7. Agrupación de datos

In [87]:
# Calcular la tasa de supervivencia por sexo
survival_by_sex = titanic.groupby('sex')['survived'].mean() * 100
print("Tasa de supervivencia por sexo (%):")
display(survival_by_sex)

Tasa de supervivencia por sexo (%):

sex
female    74.203822
male      18.890815
Name: survived, dtype: float64

In [88]:
# Calcular la tasa de supervivencia por clase de pasajero
survival_by_pclass = titanic.groupby('pclass')['survived'].mean() * 100
print("Tasa de supervivencia por clase de pasajero (%):")
display(survival_by_pclass)

Tasa de supervivencia por clase de pasajero (%):

pclass
1    62.962963
2    47.282609
3    24.236253
Name: survived, dtype: float64

In [89]:
# Calcular la tasa de supervivencia por clase y sexo
survival_by_sex_pclass = titanic.groupby(['pclass', 'sex'])['survived'].mean() * 100
print("Tasa de supervivencia por clase y sexo (%):")
display(survival_by_sex_pclass)

Tasa de supervivencia por clase y sexo (%):

pclass  sex
1       female    96.808511
        male      36.885246
2       female    92.105263
        male      15.740741
3       female    50.000000
        male      13.544669
Name: survived, dtype: float64